@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Vollkorn SC";
}

.container {
  max-width: 1140px;
  padding-top: 83px;
}

.header {
  background-color: #B8A5FF;
}
.header__container {
  min-height: 100px;
  padding: 15px 0;
}
.header__navbar a, .header__navbar li {
  color: #FFFFF0;
}
.header__navbar a:hover, .header__navbar li:hover {
  color: #FFEC99;
}

.navbar-nav {
  -moz-column-gap: 1.875rem;
       column-gap: 1.875rem;
}

.header .logo {
  padding: 0;
  font-size: 32px;
  font-weight: bold;
}
.header .logo:focus-visible {
  outline: none;
}

.dropdown-menu {
  background-color: #B8A5FF;
  color: #FFFFF0;
  border: none;
  padding-top: 30px;
  padding-bottom: 30px;
  right: 0;
}
.dropdown-menu li:not(:last-child) {
  margin-bottom: 20px;
}

.navbar .navbar-nav .nav-item .nav-link, .logo, .dropdown-item {
  position: relative;
  padding-right: 0;
  padding-left: 0;
}
.navbar .navbar-nav .nav-item .nav-link::before, .logo::before, .dropdown-item::before {
  position: absolute;
  bottom: 5px;
  left: 8;
  content: "";
  display: block;
  height: 1px;
  width: 0;
  background-color: #FFEC99;
  transition: 0.3s;
}
.navbar .navbar-nav .nav-item .nav-link:hover:before, .logo:hover:before, .dropdown-item:hover:before {
  width: 100%;
}
.navbar .navbar-nav .nav-item .nav-link:focus, .logo:focus, .dropdown-item:focus {
  color: #FFD000;
  box-shadow: none;
}
.navbar .navbar-nav .nav-item .nav-link:active, .logo:active, .dropdown-item:active {
  color: #FFD000;
}

.dropdown-menu {
  padding-left: 8px;
}

.dropdown-item {
  display: inline;
}
.dropdown-item:hover {
  background-color: #B8A5FF;
}

.navbar-toggler {
  border: none;
}
.navbar-toggler:focus {
  box-shadow: none;
}

.main-part {
  background-color: #B8A5FF;
}
.main-part__container {
  min-height: 650px;
  display: flex;
  align-items: center;
  -moz-column-gap: 34px;
       column-gap: 34px;
}
.main-part__title {
  color: #FFFFF0;
  margin: 0;
  margin-bottom: 45px;
}
.main-part__text {
  color: #FFFFF0;
  margin: 0;
}
.main-part__right-part {
  align-self: flex-end;
}
.main-part__right-part img {
  width: 34.75rem;
  height: 31.875rem;
}

.main-slider__container {
  margin-bottom: 20px;
}
.main-slider__title {
  color: #B8A5FF;
  margin-bottom: 45px;
}
.main-slider__content {
  display: flex;
  align-items: center;
  -moz-column-gap: 125px;
       column-gap: 125px;
}
.main-slider__algorithm-name {
  color: #B8A5FF;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 50px;
}
.main-slider__algorithm_descr {
  color: #B8A5FF;
  font-size: 18px;
}
.main-slider__carousel {
  max-height: 450px;
}

.control-button {
  background-color: #B8A5FF;
  width: 40px;
  height: 40px;
  top: 50%;
  border-radius: 20px;
  opacity: 0.3;
}

.сaesars-сipher {
  min-height: 600px;
  background-color: #B8A5FF;
}
.сaesars-сipher__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 150px;
       column-gap: 150px;
}
.сaesars-сipher__right-part {
  align-self: flex-start;
}
.сaesars-сipher__title {
  margin-bottom: 60px;
  color: #FFFFF0;
  text-align: right;
}
.сaesars-сipher__text {
  color: #FFFFF0;
  margin-bottom: 60px;
}
.сaesars-сipher__button {
  border: 1px solid #FFFFF0;
  color: #FFFFF0;
}
.сaesars-сipher__button::after {
  background: url("../icons/ArrowRight11.svg");
}
.сaesars-сipher__button:hover {
  background-color: #FFFFF0;
  color: #B8A5FF;
  border: none;
}
.сaesars-сipher__button:hover::after {
  background: url("../icons/ArrowRight12.svg");
}

.vigener-cipher {
  min-height: 500px;
}
.vigener-cipher__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 240px;
       column-gap: 240px;
}
.vigener-cipher__title {
  margin-bottom: 60px;
  color: #B8A5FF;
  text-align: left;
}
.vigener-cipher__text {
  color: #B8A5FF;
  margin-bottom: 60px;
}
.vigener-cipher__button {
  border: 1px solid #B8A5FF;
  color: #B8A5FF;
}
.vigener-cipher__button::after {
  background: url("../icons/ArrowRight12.svg");
}
.vigener-cipher__button:hover {
  background-color: #694CD2;
  color: #FFFFF0;
  border: none;
}
.vigener-cipher__button:hover::after {
  background: url("../icons/ArrowRight11.svg");
}

.atbash-cipher {
  min-height: 500px;
  background-color: #B8A5FF;
}
.atbash-cipher__container {
  display: flex;
  justify-content: space-between;
  -moz-column-gap: 135px;
       column-gap: 135px;
}
.atbash-cipher__right-part {
  align-self: flex-start;
}
.atbash-cipher__title {
  margin-bottom: 60px;
  color: #FFFFF0;
  text-align: right;
}
.atbash-cipher__text {
  color: #FFFFF0;
  margin-bottom: 60px;
}
.atbash-cipher__button {
  border: 1px solid #FFFFF0;
  color: #FFFFF0;
}
.atbash-cipher__button::after {
  background: url("../icons/ArrowRight11.svg");
}
.atbash-cipher__button:hover {
  background-color: #FFFFF0;
  color: #B8A5FF;
  border: none;
}
.atbash-cipher__button:hover::after {
  background: url("../icons/ArrowRight12.svg");
}

.footer__container {
  padding-top: 40px;
  min-height: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  -moz-column-gap: 180px;
       column-gap: 180px;
}
.footer__logo {
  color: #B8A5FF;
  margin-bottom: 20px;
  pointer-events: none;
}
.footer__social-media-list {
  padding: 0;
  list-style: none;
  display: flex;
  -moz-column-gap: 46px;
       column-gap: 46px;
}

.title {
  font-size: 36px;
  font-weight: bold;
}

.text {
  font-size: 16px;
}

.button {
  text-decoration: none;
  display: flex;
  align-items: center;
  position: relative;
  width: 261px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0);
  padding-left: 20px;
  text-align: left;
  transition: 0.4s;
}
.button::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 35px;
  height: 35px;
  top: 18%;
}

.footer-title {
  color: #B8A5FF;
  font-size: 18px;
  font-weight: 600;
  margin-bottom: 15px;
}

.footer-item {
  margin-bottom: 10px;
}
.footer-item a {
  text-decoration: none;
  font-size: 16px;
  color: #D9D9D9;
}
.footer-item a:hover {
  color: #694CD2;
  transition: 0.3s;
}

.footer-list {
  padding: 0;
  list-style: none;
}

@media (max-width: 576px) {
  .container {
    width: 100%;
  }
  .nav-link {
    display: inline;
  }
  .nav-item:not(:last-child) {
    margin-bottom: 20px;
  }
}/*# sourceMappingURL=style.css.map */