@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap')
    
$base-white-color: #FFFFFF
$base-black-color: #000000
$base-violet-color: #421AFF
$base-gray-color: #B8B4B4
$base-font: "Vollkorn SC"

// Общие стили
*
    box-sizing: border-box

body
    font-family: $base-font

.container
    max-width: 1140px

// Заголовки
.title
    font-size: 32px
    font-weight: bold

// Обычный текст
.text
    font-size: 18px

.navbar-toggler
    border: none
    color: $base-black-color
    &:focus
        box-shadow: none

.btn-up
    position: fixed
    bottom: 70px
    right: 40px
    background-color: $base-black-color
    width: 50px
    height: 50px
    display: none
    border-radius: 50px
    cursor: pointer
    &::before
        content: ""
        background: transparent no-repeat center center
        background-size: 100% 100%
        width: 24px
        height: 24px
        background-image: url("../icons/ArrowUp.svg")
    
    &-show
        display: flex
        justify-content: center
        align-items: center

// Заголовки футера 
.footer-title
    color: $base-black-color
    font-size: 18px
    font-weight: 600
    margin-bottom: 15px

// Элементы футера
.footer-item
     margin-bottom: 10px
     a
        text-decoration: none
        font-size: 16px
        color: #918f8f
        
// Списки футера
.footer-list
    padding: 0
    list-style: none

.line
    width: 100%
    height: 1px
    background-color: $base-black-color

// Шапка
.author-header
    &__container
        min-height: 100px
        padding: 15px 0
    &__navbar
        a
            color: $base-black-color
            font-weight: 600
            transition: all 0.3s
            &:hover
                scale: 1.2

.navbar-nav
    column-gap: 1.875rem
                  
.author-header .logo
    padding: 0
    font-size: 32px
    font-weight: bold
    &:focus-visible
        outline: none

.general
    position: relative
    min-height: 700px
    &__container
        padding-left: 0
    &__bottom-part
        position: absolute
        bottom: 0
        right: 0
        display: flex
        // column-gap: 130px
    &__title-block
        position: absolute
        padding-top: 44px
        padding-bottom: 44px
        width: 500px
        text-align: right
        padding-right: 25px
        left: 0
        top: 72px
        display: inline-block
        background-color: $base-violet-color
        color: $base-white-color
        border-bottom-right-radius: 20px
    &__text
        align-self: center
        margin-left: 93px
        color: $base-black-color
        font-size: 18px
        margin-right: 50px

.card
    border: none
    max-width: 361px
    background: transparent
    transition: all 0.3s
    overflow: hidden
    &:hover
        scale: 1.2
    &:has(~ .card:hover), &:hover ~ .card
        scale: 0.8
        
    img
        margin-bottom: 20px
    &__title
        color: $base-white-color
        margin-bottom: 20px
    &__text
        color: $base-white-color


.development
    background-color: $base-black-color
    margin-bottom: 80px
    min-height: 650px
    &__container
        padding-top: 80px
        
    &__title
        color: $base-white-color
        margin-bottom: 60px
    &__cards-block
        display: grid
        grid-template-columns: repeat(3, 1fr)
        column-gap: 3vw

.technique
    min-height: 600px
    &__title
        text-align: center
        margin-bottom: 60px
    &__content
        display: flex
        margin-bottom: 100px
    &__toggle-button
        width: 40px
        height: 40px
        border: none
        display: flex
        justify-content: center
        align-items: center
        background-color: $base-white-color
        border-radius: 20px
        margin-bottom: 40px
        transition: rotate 0.2s
        &::before
            content: ""
            background-size: 100% 100%
            width: 24px
            height: 24px
            background-image: url("../icons/switch-button.svg")
        &:hover
            background-color: $base-gray-color
        &_wrap
            rotate: 180deg
    &__line
        margin-bottom: 20px
        
    &__switch-buttons
        display: flex
        flex-direction: column
        justify-content: space-between
        min-height: 300px
        padding-left: 15px
        margin-right: 80px
        & input[type=radio]
            display: none

    &__tech-title
        display: inline-block
        cursor: pointer
        text-align: center
        padding-left: 20px
        font-size: 24px
        font-weight: bold
        &_wrap
            transition: all 0.2s
            display: none

    .technique__tech-logo
        padding: 0
        cursor: pointer
        &_wrap
            img
                transition: all 0.3s
                width: 36px
                height: 48px

    &__switch-item
        display: flex
        align-items: center
        width: 230px
        min-height: 70px
        transition: all 0.2s
        position: relative
        &::after
            position: absolute
            bottom: -5px
            content: ""
            display: block
            height: 1px
            width: 0
            background-color: $base-black-color
            transition: 0.3s
        &:has(> .technique__btn-check:checked):after
            width: 100%
        &_wrap
            max-width: 40px
            transition: all 0.2s
            &::after
                bottom: 5px

    &__technology-description
        display: flex
        justify-content: center
        align-items: center
        border-left: 1px solid $base-black-color
        padding-left: 50px
        // width: 50vw
        transition: all 0.3s
        // &_wrap
        //     width: 70vw

// Футер
.footer
    &__container
        padding-top: 40px
        min-height: 200px
        display: grid
        grid-template-columns: repeat(3, 1fr)
        justify-content: space-between
    &__logo
        color: $base-black-color
        margin-bottom: 20px
        pointer-events: none
    &__social-media-list
        padding: 0
        list-style: none
        display: flex
        column-gap: 46px
    &__algorithm-block
        justify-self: end
    &__about-block
        justify-self: end

@media (max-width: 991px)
    // Контейнер
    .container
        max-width: 750px
        // padding-top: 40px
        
    // Шапка
    // .author-header .logo
    //     font-size: 24px
    //     margin-right: 34px
    // .navbar-nav
    //     column-gap: 0.938rem
    // .nav-item
    //     padding: 0
    // .nav-link
    //     font-size: 12px
    // .dropdown-menu
    //     padding: 0
    // .dropdown-item
    //     font-size: 12px

    .author-header
         &__container
            margin: 0
            padding: 15px 50px
            margin-bottom: 40px
            max-width: 950px

    .general
        min-height: 450px
        &__title-block 
            position: static
            margin-left: -150px
            margin-bottom: 40px
        &__bottom-part
            margin-bottom: 40px
            display: block
            position: static
            img
                display: none
        &__text
            margin-left: 0
    .card
        overflow: hidden
        max-width: 210px

    .development
        min-height: 700px
        
    .footer__container 
        display: flex
        justify-content: space-between

        