@import url('https://fonts.googleapis.com/css2?family=Vollkorn+SC:wght@400;600;700;900&display=swap')

$base-color-violet: #B8A5FF
$base-color-hover: #FFEC99
$base-color-active: #FFD000
$base-color-white: #FFFFF0
$base-font: "Vollkorn SC"
$body-color: #FFFFF0
    
    
*
    box-sizing: border-box

body
    font-family: $base-font

.container
    max-width: 1140px

// Шапка
.header
    background-color: $base-color-violet
    &__container
        min-height: 100px
        padding: 15px 0
    &__navbar
        a, li
            color: $base-color-white
            &:hover
                color: $base-color-hover

.navbar-nav
    column-gap: 1.875rem
                  
.header .logo
    padding: 0
    font-size: 32px
    font-weight: bold
    &:focus-visible
        outline: none

.dropdown-menu
    background-color: $base-color-violet
    color: $base-color-white
    border: none
    padding-top: 30px
    padding-bottom: 30px
    right: 0
    li:not(:last-child)
        margin-bottom: 20px

.navbar .navbar-nav .nav-item .nav-link, .logo, .dropdown-item
    position: relative
    padding-right: 0
    padding-left: 0
    &::before
        position: absolute
        bottom: 5px
        left: 8
        content: ""
        display: block
        height: 1px
        width: 0
        background-color: $base-color-hover
        transition: 0.3s
    &:hover:before
        width: 100%
    &:focus
        color: $base-color-active
        box-shadow: none
    &:active
        color: $base-color-active


.dropdown-menu
    padding-left: 8px

.dropdown-item
    display: inline
    &:hover
        background-color: $base-color-violet

.navbar-toggler
    border: none
    &:focus
        box-shadow: none

// Основная часть
.main-part
    background-color: $base-color-violet
    &__container
        min-height: 650px
        // padding-top: 130px
        display: flex
        align-items: center
        column-gap: 34px
    &__title
        color: $base-color-white
        margin: 0
        margin-bottom: 45px
    &__text
        color: $base-color-white
        margin: 0

    &__right-part
        align-self: flex-end
        img
            width: 34.75rem
            height: 31.875rem


.title
    font-size: 36px
    font-weight: bold

.text
    font-size: 16px


.main-slider
    &__container
        padding-top: 136px
    &__title
        color: $base-color-violet
        margin-bottom: 45px
    &__content
        display: flex
        align-items: center
        column-gap: 125px
    &__algorithm-name
        color: $base-color-violet
        font-size: 32px
        font-weight: bold
        margin-bottom: 50px
    &__algorithm_descr
        color: $base-color-violet
        font-size: 18px
    &__carousel
        max-height: 450px

.control-button
    background-color: $base-color-violet
    width: 40px
    height: 40px
    top: 50%
    border-radius: 20px
    opacity: 0.3


@media (max-width: 576px)
    .container
        width: 100%
    .nav-link
        display: inline

    .nav-item:not(:last-child)
        margin-bottom: 20px